 div {
                    margin: 70px;
                    border: 1px solid #4CAF50;
                }
                .btn-default {
                 box-shadow: 1px 2px 5px rgb(187, 179, 179);   
                }
                ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(236, 234, 234, 0.925);
}

li {
    float: right;
}

li a {
    display: block;
    color: rgb(14, 10, 10);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.boxed {
  border: 1px solid green ;
  width: 800px; 
  height:250px;
  margin-left:350px;
  margin-top:-180px;
  padding-left: 12px;
  padding-right: 50px;
  line-height: 0.2;
  
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    height: 200;
    margin-left:150px;
    margin-top:15px;
  
}
p.conversation {
    white-space: nowrap; 
    width: 1100px; 
    height:40px;
    border: 1px solid #f5cccc;
    overflow: hidden;
    text-overflow: clip;
    margin-left:35px;
    color: rgb(24, 53, 6);
    background-color: rgba(252, 246, 249, 0.986)
}
p.produce {
    white-space: nowrap; 
    width: 1100px; 
    height:40px;
    border: 1px solid #f5cccc;
    overflow: hidden;
    text-overflow: clip;
    margin-left:35px;
    color: rgb(221, 90, 107);
    background-color: rgb(245, 227, 239)
}
p.venturX {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: clip;
    margin-left:350px;
    
    
}
p.websiteName {

    margin-left:-100px;
    margin-top: -5px;
    
    
}